body {
    background-color: #101010;
    color: white;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

#header {
    height: 50px;
    display: flex;
    align-items: center;
    overflow-x: auto;
    white-space: nowrap;
    padding: 0 20px;
    box-sizing: border-box;
    border-bottom: 1px solid white;
}

#main-container {
    display: flex;
    justify-content: space-between;
    height: calc(100vh - 50px); /* Subtracting the header height */
    box-sizing: border-box;
}

#left-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 20%;
    border-right: solid white 1px;
}

#left-container > * {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    margin-bottom: 20px;
    width: 90%;
}

#left-container > *:last-child {
    border-bottom: none;
}

#right-container {
    flex-grow: 1;
    position: relative; /* To position the max-x-display */
}

#frame-display {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: rgba(255, 255, 255, 0.7);
    font-size: 0.8em;
}

#points-display-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    margin-bottom: 10px;

}

#points-display{
    margin-left: auto;
}

#y-display {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    color: rgba(255, 255, 255, 0.7);
    font-size: 0.8em;
}

#graph-canvas {
    width: 100%;
    height: 100%;
}

.upgrade {
    background-color: rgba(255, 255, 255, 0.1);
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
}

.buy-button {
    background-color: #00ff00;
    border: none;
    color: black;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
}


#constants {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    background-color: rgba(0, 0, 0, 0.5);
}

#constants h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

#constants hr {
    border: none;
    border-top: 1px solid white;
    width: 100%;
    margin-bottom: 10px;
}

#constant-items p {
    margin: 0 0 10px 0;
    text-align: center;
}